#sidebar-container {
    min-height: calc(100vh - 56px);
    max-height: calc(100vh);
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 100px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color : rgba(255,255,255,1) !important;
}
.default-color {
    background-color: #333;
}

.container-custom {
    margin: 6vh 6vh 6vh 6vh ;
}

.title {
    font-weight: 500;
    text-transform: uppercase;
}

.align-text-right {
    text-align: right;
}

#body-row {
    margin: 0;
}

.title-page {
    margin-bottom: 1vh;
}

td > a > .material-icons {
    padding: 8px;
    font-size: 19px;
}

.table > tbody > tr > td {
    padding-bottom: 10px;
}

.table td {
    vertical-align: unset !important;
}

.btn-page-actions {
    padding: 0;
}

.container-page-content {
    margin: 3vh 3vh 3vh 3vh;
}

.icons-page-actions {
    border: 1px solid #0277BD;
    border-radius: 5px;
    padding: 5px;
    background-color: #0277BD;
    color: white;
}